{% extends "layout.html" %}
{% block title %}ISP Monitor current configuration{% endblock %}
{% block content %}
<script>
  window.onload=function(){
    document.getElementById('listspeedtestservers_button').addEventListener('click', function() {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/ajax/listspeedtestservers', true);
      xhr.onload = function() {
        var result = JSON.parse(xhr.responseText);
        // Get a reference to the HTML element where you want to display the data
        const container = document.getElementById("speedtestserverlist_result");
        // Clear the contents of the container (optional)
        container.innerHTML = "";
        result.forEach(function(value) {
          // Create a new HTML element to display the value
          const element = document.createElement("div");
          // Set the text content of the element to the value
          element.textContent = "ID=" + value[0] + " - " + value[1] + " in " + value[2];
          // Add the new element to the container
          container.appendChild(element);
        });
      };
      xhr.send();
    });
  }
  </script>
<div class="container py-2">
  <h5>Current configuration</h5>
  <form method="post" action="/config" class="form-inline">
      Which network interface should be used for monitoring?<br>
      {% for key, value in interfaces.items() %}
      <div class="form-check-inline">
          <input class="form-check-input" type="radio" name="interfaceRadioGroup" id="{{ key }}" value="{{ key }}" {% if configdict['defaultinterface'] == key %}checked{% endif %}>
          <label class="form-check-label" for="{{ key }}">{{ key }}</label>
      </div>
      {% endfor %}
    <div class="row py-1">
      <div class="col-4">Connection check job:</div>
      <div class="col-7">
        <div class="o-switch btn-group" data-toggle="buttons" role="group">
          <label class="btn btn-secondary active">
            <input type="radio" name="connectiontestjob_options" id="connectiontestjob_run" value="run" {% if configdict['connectionmonitorjobstatus'] == 'run' %}checked{% endif %}> Run</label>
          <label class="btn btn-secondary">
            <input type="radio" name="connectiontestjob_options" id="connectiontestjob_pause" value="pause" {% if configdict['connectionmonitorjobstatus'] == 'pause' %}checked{% endif %}> Pause
          </label>
        </div> 
      </div>
    </div>
    <div class="row py-1">
      <div class="col-4">Speedtest job:</div>
      <div class="col-7">
        <div class="o-switch btn-group" data-toggle="buttons" role="group">
          <label class="btn btn-secondary active">
            <input type="radio" name="speedtestjob_options" id="speedtestjob_run" value="run"{% if configdict['speedtestjobstatus'] == 'run' %}checked{% endif %}> Run
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="speedtestjob_options" id="speedtestjob_pause" value="pause" {% if configdict['speedtestjobstatus'] == 'pause' %}checked{% endif %}> Pause
          </label>
        </div>  
      </div>
    </div>
    <div class="row py-1">
      <div class="col-4">Network config check job:</div>
      <div class="col-7">
        <div class="o-switch btn-group" data-toggle="buttons" role="group">
          <label class="btn btn-secondary active">
            <input type="radio" name="netconfigjob_options" id="netconfigjob_run" value="run"{% if configdict['checknetconfigjobstatus'] == 'run' %}checked{% endif %}> Run
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="netconfigjob_options" id="netconfigjob_pause" value="pause" {% if configdict['checknetconfigjobstatus'] == 'pause' %}checked{% endif %}> Pause
          </label>
        </div>  
      </div>
    </div>  
    <div class="row g-3">
      <div class="col-4"><label class="form-label" for="datetimeformat">Date/Time Format</label></div>
      <div class="col-5"><input type="text" class="form-control" name="datetimeformat" id="datetimeformat" value="{{ configdict['datetimeformat'] }}"></div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="logginglevel">Logging level</label></div>
      <div class="col-5">
        <select name="logginglevel"  class="form-control" id="logginglevel">
          <option value="DEBUG" {% if configdict['logginglevel'] == 'DEBUG' %}selected{% endif %}>Debug</option>
          <option value="INFO" {% if configdict['logginglevel'] == 'INFO' %}selected{% endif %}>Info</option>
          <option value="WARNING" {% if configdict['logginglevel'] == 'WARNING' %}selected{% endif %}>Warnings</option>
          <option value="ERROR" {% if configdict['logginglevel'] == 'ERROR' %}selected{% endif %}>Errors</option>
        </select>
      </div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="pollfreq">Network config check frequency (seconds)</label></div>
      <div class="col-5"><input type="text" class="form-control" name="netconfigtestfreq" id="netconfigtestfreq" value="{{ configdict['netconfigtestfreq'] }}"></div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="pollfreq">Internet check frequency (seconds)</label></div>
      <div class="col-5"><input type="text" class="form-control" name="pollfreq" id="pollfreq" value="{{ configdict['pollfreq'] }}"></div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="pollfreq">Internet check poll amount (number)</label></div>
      <div class="col-5"><input type="text" class="form-control" name="pollamount" id="pollamount" value="{{ configdict['pollamount'] }}"></div>
    </div>
    <div class="row g-3 align-items-center">
      
        <div class="col-4"><label for="hosts">Hosts to check</label></div>
        <div class="col-5">
          {% for host in configdict['hosts'] %}
          <div class="input-group">
            <input type="text" class="form-control" name="hosts" id="host1" value="{{ host[0] }}">
            <select class="form-control" name="hosttype" id="host1">
              <option value="inet" {% if host[1] == 'inet' %}selected{% endif %}>Internet</option>
              <option value="local" {% if host[1] == 'local' %}selected{% endif %}>Local LAN</option>
            </select>
          </div>
          {% endfor %} 
        </div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="speedtestfreq">Speed test frequency (Seconds)</label></div>
      <div class="col-5"><input type="text" class="form-control" name="speedtestfreq" id="speedtestfreq" value="{{ configdict['speedtestfreq'] }}"></div>
    </div>
    <div class="row g-3 align-items-center">
      <div class="col-4"><label for="speedtestserverid">Speed test server (ID)</label></div>
      <div class="col-5"><input type="text" class="form-control" name="speedtestserverid" id="speedtestserverid" value="{{ configdict['speedtestserverid'] }}"></div>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <hr>
    <h5>Speedtest Servers</h5>
    <div class="row">
      <button class="btn btn-primary" type="submit" name="listspeedtestservers_button" id="listspeedtestservers_button">List Speedtest Servers</button>
    </div>
    <div id="speedtestserverlist_result"></div>
</div>
{% endblock %}