{% extends "layout.html" %}
{% block title %}ISP Monitor{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <form method="POST">
        <button type="submit" name="speedtest_button">Speedtest Now</button>&nbsp;Last speed test: Download={{ listLastSpeedTest[0] }}MB/s, Upload={{ listLastSpeedTest[1] }}MB/s
    </form>
    </div>
    <div class="row">
      <div class="col-sm">
        <div id='latencychart' class='chart'”></div>
      </div>
      <div class="col-sm">
        <div id='speedchart' class='chart'”></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h4>Outages</h4>
        <ul class="list-group">
          {% if events %}
            {% for event in events %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ event['offlinetimedate'] }}<a href="{{ url_for('event', eventid=event['filename']) }}">{{ event['id'] }}</a>
                <span class="badge bg-primary rounded-pill">{{ event['downtimeformatted'] }}</span>
            </li>
            {% endfor %}
          {% else %}
          <li class="list-group-item d-flex justify-content-between align-items-center">None</li>
          {% endif %}
        </ul>
    </div>
      <div class="col-sm">
        <h4>Logs</h4>
        <ul class="list-group">
            {% for logfile in logfiles %}
            <li class="list-group-item d-flex"><a href="{{ url_for('log', logid=logfile) }}">{{ logfile }}</a></li>
            {% endfor %}
        </ul>
      </div>
    </div>
</div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  var stgraphs = {{ stgraphJSON | safe }};
  Plotly.plot('latencychart',graphs,{});
  Plotly.plot('speedchart',stgraphs,{});
</script>
{% endblock %}